@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400&display=swap');

body {
  background-color: rgb(223, 223, 223);
  font-family: 'Zen Maru Gothic', sans-serif;
}

li {
  list-style: none;
  margin-top: 10px;
}

header {
  display: flex;
  font-size: 20px;
  margin-top: 0;
  background-color: rgb(59, 190, 114);
  color: white;
  justify-content: space-between;
}

#title-header {
  margin-left: 25px;
}

#title-cart {
  text-align: center;
  background-color: rgb(14, 145, 69);
  width: 30%;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 1px solid rgb(199, 199, 204);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  margin-top: 25px;
  width: 200px;
  background-color: white;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(56, 114, 190);
  color: white;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  background-color: white;
  text-align: center;
  background-color: rgb(165, 165, 165);
  align-items: center;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
  margin-top: 10px;
}

.cart .cart__item {
  width: 85%;
  text-align: center;
  padding: 10px;
  background-color: rgb(223, 223, 223);
  border: 1px solid rgb(199, 199, 204);
  border-radius: 5px;
}

.empty-cart {
  background-color: rgb(77, 0, 128);
  color: white;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
}
