@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid #ddd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__price {
  text-align: center;
}

.item .item__price::before {
  content: 'R$:';
}

.item .item__add {
  background-color: #cecece;
  border: 0;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  background-color: #DADADA;
  padding: 10px;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.empty-cart {
  background-color: #0019ff;
  border: none;
  padding: 5px;
  color: white;
  font-size: 1em;
  text-align: center;
}

.total-price::before {
  content: 'R$:';
}

.loading {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  color: transparent;
  border-top-color: #0019ff;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

